<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <%= form_for patient, url: url, method: method_type, remote: remote do |form| -%>
    <p class="lead">Patient data</p>
    <% unless patient.id.nil? -%>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">ID</label>
          <p class="form-control-static"><%= patient.id -%></p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">First Name</label>
          <%= form.text_field :first_name, class: 'form-control' -%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Middle Name</label>
          <%= form.text_field :middle_name, class: 'form-control' -%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Last Name</label>
          <%= form.text_field :last_name, class: 'form-control' -%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Medical Record #</label>
          <%= form.text_field :medical_record, class: 'form-control' -%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Birth Date</label>
          <div class="birth-date-dropdowns">
            <%= form.date_select :birth_date, { end_year: Date.current.year - 80, start_year: Date.current.year - 18, prompt: true }, class: 'form-control' -%>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Gender</label>
          <%= form.collection_select :gender, Patient.genders.keys, :to_s, :titlecase, { include_blank: 'Select an option' }, class: 'form-control' %>
        </div>
      </div>
    </div>

    <hr>

    <%= form.submit t('basic.forms.submit_save'), data: { disable_with: t('basic.forms.saving') }, class: 'btn btn-primary' -%>
    <%= link_to 'Delete', patient_path(patient), method: :delete, data: { disable_with: t('basic.forms.deleting'), confirm: t('basic.forms.confirm') }, class: 'btn btn-danger' unless patient.id.nil? -%>
    <% end %>
  </div>
</div>