<div class="table-responsive">
  <% if !patients.blank? && patients.length > 0 -%>
  <table class="table table-hover m-t-10">
    <thead>
      <tr>
        <th width="5%">ID</th>
        <th width="20%">NAME</th>
        <th width="20%">AGE</th>
        <th width="20%">MEDICAL RECORD #</th>
        <th width="20%">DATE</th>
        <th width="5%"></th>
      </tr>
    </thead>
    <tbody>
      <% for patient in patients -%>
      <tr>
        <td><%= patient.id -%></td>
        <td><%= patient.full_name -%></td>
        <td><%= patient.age -%></td>
        <td><strong><%= patient.medical_record -%></strong></td>
        <td><%= l(patient.created_at, format: :complete) -%></td>
        <td><%= link_to 'View summary', summary_path(patient), class: 'btn btn-xs btn-primary' -%></td>
      </tr>
      <% end -%>
    </tbody>
  </table>
  <% else -%>
  <div class="alert alert-primary m-t-10" role="alert">No patients were found.</div>
  <% end -%>
</div>