<div class="row">
  <div class="col-md-10 col-lg-10 col-sm-10">
    <h3 class="m-0">Edit patient: <%= @patient.full_name -%></h3>
    <hr>
    <%= render 'patients/form', patient: @patient, url: patient_path(@patient), method_type: :patch, remote: false -%>
    <hr>
  </div>
</div>