<div class="row">
  <div class="col-md-8 col-lg-8 col-sm-8">
    <div>
      <h3 class="m-0">Create new patient</h3>
      <hr>
      <%= render 'patients/form', patient: @patient, url: :patients, method_type: :post, remote: false -%>
      <hr>
    </div>
  </div>
</div>