<table class="table table-bordered">
  <thead>
    <th class="active" colspan="4">Emergency Transfer Summary (Form 34L-D)</th>
  </thead>
  <tbody>
    <tr>
      <td colspan="4"><strong>Transferring Facility</strong></td>
    </tr>
    <tr>
      <td colspan="4">
        <p><strong>Name</strong></p>
        <p><%= @facility.name -%></p>
      </td>
    </tr>
    <tr>
      <td colspan="4"><strong>Patient Information</strong></td>
    </tr>
    <tr>
      <td>
        <p><strong>First Name</strong></p>
        <p><%= @patient.first_name -%></p>
      </td>
      <td>
        <p><strong>Middle Name</strong></p>
        <p><%= @patient.middle_name -%></p>
      </td>
      <td>
        <p><strong>Last Name</strong></p>
        <p><%= @patient.last_name -%></p>
      </td>
      <td>
        <p><strong>Medical Record (MR)</strong></p>
        <p><%= @patient.medical_record -%></p>
      </td>
    </tr>
    <tr>
      <td colspan="4"><strong>Summary</strong></td>
    </tr>
    <tr>
      <td colspan="4">
        <%= render_patient_summary(@facility, @patient) -%>
      </td>
    </tr>
  </tbody>
</table>

<div id="actions">
  <hr>
  <%= link_to 'Go Back', :patients, class: 'btn btn-sm btn-primary' -%>
  <%= link_to 'Print', '#', class: 'btn btn-sm btn-success', onclick: 'window.print();return false;' %>
</div>