<!DOCTYPE html>
<html>
<head>
  <title><%= t('site_name') -%></title>
  <%= csrf_meta_tags %> 
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <html manifest="/application.manifest">
</head>

<body>
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><%= t('site_name') -%></a>
      </div>
      <!-- /.navbar-header -->

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <% build_sidemenu do |menu| -%>
              <% if menu[:submenu].blank? -%>
                <li>
                  <%= link_to menu[:url] do -%>
                    <i class="glyphicon glyphicon-<%= menu[:icon] %>"></i>
                    <%= menu[:label] -%>
                  <% end -%>
                </li>
              <% else -%>
                <li>
                  <%= link_to '#', class: "#{'active' if menu[:active]}" do %>
                    <i class="glyphicon glyphicon-<%= menu[:icon] %>"></i>
                    <%= menu[:label] -%>
                    <span class="caret"></span>
                  <% end %>
                  <ul class="nav nav-second-level<%= ' in' if menu[:active] %>">
                    <% for submenu in menu[:submenu] -%>
                    <li>
                      <%= link_to submenu[:label], submenu[:url] -%>
                    </li>
                    <% end -%>
                  </ul>
                </li>
              <% end -%>
            <% end -%>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
      <%= render_breadcrumbs -%>
      <div class="container-fluid">
        <div class="m-t-1"><%= render_flash_messages %></div>
        <%= yield %>
      </div>
    </div>
    <!-- /#page-wrapper -->
    <div class="clearfix"></div>
    <footer class="footer"> <%= Time.now.year -%> &copy; <%= t('site_name') -%> </footer>
  </div>
  <!-- /#wrapper -->
  <%= javascript_include_tag 'application' %> 
</body>